<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>553257608747-v2pocgpa6tveg4ma7pc2d9b9b0jsnjrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553257608747-v2pocgpa6tveg4ma7pc2d9b9b0jsnjrs</string>
	<key>API_KEY</key>
	<string>AIzaSyDYI4EC0i6pe9Q3S0aNGvrJ_5BBquzTgDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>553257608747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevincperkins.chattyKathy</string>
	<key>PROJECT_ID</key>
	<string>chattykathy-3ad6d</string>
	<key>STORAGE_BUCKET</key>
	<string>chattykathy-3ad6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553257608747:ios:5c951d71022fce72</string>
	<key>DATABASE_URL</key>
	<string>https://chattykathy-3ad6d.firebaseio.com</string>
</dict>
</plist>